<!DOCTYPE html>
<html lang="en">
	<head>
        <style>
          header{
              font-size: 40px;
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              text-align: center;
              background-color: grey;
              height: 100px;
          } 
           ul{
              text-align: center;
          } 
          ul li{
             display: inline;
             padding: 5px;
          }
          #left, #right{
              background-color: azure;
              height: 280px;
              width: 250px;
              margin: 10px;
          }
          a{
              float: right;
              margin: 10px 100px;
          }
        </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
    <script src="utils.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
	<meta charset="UTF-8">
    {{!-- <link rel="stylesheets" href="css/style.css"> --}}
	<title>Cryptocurrency</title>
	</head>
	<body>
        <div class = "container">
        
        <header>Cryptocurrency Predictor</header>>
		{{{ body }}}
        </div>
        <footer> 
            <a href ="https://www.reddit.com/r/CryptoMarkets/" style="color:green">Reddit Cryptomarkets</a>
            <ul>
                <li>Jacob Coe</li>
                <li>Tyler Stephens</li>
                <li>Melanie West</li>
                <li>Tyler Wilson</li>
            </ul>
        </footer>
	</body>
</html>
