   <style>
 #display{
              background-color: azure;
              top: 150px;
              margin: 10px;
          }
table{
    display:none;
}
#litecoin,#ethereum,#bitcoin{
    position: absolute;
    top: 200px;
    margin: 20px;
}      
    </style>
 <br><br>

    <div class = "col-4" id = "graphs">    
        <div id="ethereum">
            <iframe width="400" height="300" frameborder="0" scrolling="no" src="//plot.ly/~MelanieWest/10.embed"></iframe>
        </div>
    </div>

    <div class = "col-4">
       <div id="bitcoin">
            <iframe width="400" height="300" frameborder="0" scrolling="no" src="//plot.ly/~MelanieWest/11.embed"></iframe>
        </div>
    </div>

    <div class ="col-4">
       <div id="litecoin">
            <iframe width="500" height="300" frameborder="0" scrolling="no" src="//plot.ly/~MelanieWest/16.embed"></iframe>
        </div>
    </div>

  
    