   <style>
 #left, #right{
              background-color: azure;
              top: 150px;
              height: 280px;
              width: 250px;
              margin: 10px;
          }
      
    </style>

    <div class = "row">
        <div class = "col" id = "left">
			<div>
				<a href ="https://plot.ly/~MelanieWest/0" target="_blank" style="color:green">Data Plot</a>
			</div>
			<ul>
				{{#each bitCoin}}
				<li>
					<span class="label">Value:</span> {{this.act_val}}</p>
					<span class="label">Date: </span> {{this.exch_date}}</p>
				</li>
				{{/each}}
			</ul>
        </div>
        <div class = "col" id = "right">

        </div>
    </div>

    